export MONGO_SERVICE_HOST=''
export MONGO_AUTH_USER=''
export MONGO_AUTH_PWD=''
export OTEL_SERVICE_NAME=''
export OTEL_RESOURCE_ATTRIBUTES=''
export SPLUNK_RUM_REALM=''
export SPLUNK_RUM_ENVIRONMENT=''
export SPLUNK_RUM_TOKEN=''